@{
    ViewBag.Title = "Login";
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Gerenciar Usuários</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/Scripts/login/app-login.js"></script>
</head>
<body>
    <div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="card" style="width: 400px;">
            <div class="card-body">
                <h5 class="card-title text-center">Login</h5>
                <form>
                    <div class="form-outline mb-4">
                        <input type="text" id="usuario" class="form-control" required />
                        <label class="form-label" for="usuario">Usuário</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="password" id="senha" class="form-control" required />
                        <label class="form-label" for="senha">Senha</label>
                    </div>

                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Conectar</button>
                </form>
            </div>
        </div>
    </div>
</body>
